USE [master]
GO
/****** Object:  Database [funeraria]    Script Date: 27/04/2021 12:47:13 a. m. ******/
CREATE DATABASE [funeraria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'funeraria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\funeraria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'funeraria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\funeraria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [funeraria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [funeraria]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 27/04/2021 12:47:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[idcliente] [tinyint] NOT NULL,
	[nombre] [varchar](50) NULL,
	[domicilio] [varchar](50) NULL,
	[estadocivil] [bit] NULL,
	[hijos] [tinyint] NULL,
	[ingresoMen] [numeric](8, 2) NULL,
	[ingresoAcum] [numeric](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paquetes]    Script Date: 27/04/2021 12:47:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paquetes](
	[idpaquete] [tinyint] NOT NULL,
	[nombre] [varchar](15) NULL,
	[descripcion] [varchar](150) NULL,
	[precio] [numeric](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idpaquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recibos]    Script Date: 27/04/2021 12:47:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recibos](
	[idrecibo] [tinyint] NOT NULL,
	[idcliente] [tinyint] NOT NULL,
	[idpaquete] [tinyint] NOT NULL,
	[enganche] [numeric](8, 2) NULL,
	[mensualidad] [numeric](8, 2) NULL,
	[estatus] [bit] NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK__recibos__86F5D88CDF965233] PRIMARY KEY CLUSTERED 
(
	[idrecibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[clientes] ([idcliente], [nombre], [domicilio], [estadocivil], [hijos], [ingresoMen], [ingresoAcum]) VALUES (1, N'ALEXIS BALTAZAR LOPEZ SOBERANES', N'CASAS NUEVAS', 0, 0, CAST(15000.00 AS Numeric(8, 2)), CAST(12000.00 AS Numeric(8, 2)))
INSERT [dbo].[clientes] ([idcliente], [nombre], [domicilio], [estadocivil], [hijos], [ingresoMen], [ingresoAcum]) VALUES (2, N'PRUEBA1', N'CONOCIDO', 1, 2, CAST(9000.00 AS Numeric(8, 2)), CAST(4050.00 AS Numeric(8, 2)))
INSERT [dbo].[clientes] ([idcliente], [nombre], [domicilio], [estadocivil], [hijos], [ingresoMen], [ingresoAcum]) VALUES (3, N'PRUEBA2', N'CONOCIDO', 0, 0, CAST(8000.00 AS Numeric(8, 2)), CAST(6400.00 AS Numeric(8, 2)))
GO
INSERT [dbo].[paquetes] ([idpaquete], [nombre], [descripcion], [precio]) VALUES (1, N'Economico', N'Ataúd Metálico, Mobiliario para 50 personas, Traslado C-I-P, 4 sirios', CAST(15600.00 AS Numeric(8, 2)))
INSERT [dbo].[paquetes] ([idpaquete], [nombre], [descripcion], [precio]) VALUES (2, N'Estandar', N'Velación en capilla, Flores, Servicio de Cafetería Ilimitado', CAST(28400.00 AS Numeric(8, 2)))
INSERT [dbo].[paquetes] ([idpaquete], [nombre], [descripcion], [precio]) VALUES (3, N'Oro', N'Misa de cuerpo presente, Ataúd de Madera, Sirios Ilimitados', CAST(15600.00 AS Numeric(8, 2)))
GO
INSERT [dbo].[recibos] ([idrecibo], [idcliente], [idpaquete], [enganche], [mensualidad], [estatus], [fecha]) VALUES (1, 1, 1, CAST(1215.00 AS Numeric(8, 2)), CAST(945.00 AS Numeric(8, 2)), 1, CAST(N'2001-01-01' AS Date))
INSERT [dbo].[recibos] ([idrecibo], [idcliente], [idpaquete], [enganche], [mensualidad], [estatus], [fecha]) VALUES (2, 26, 2, CAST(8520.00 AS Numeric(8, 2)), CAST(6626.67 AS Numeric(8, 2)), 1, CAST(N'2021-04-26' AS Date))
INSERT [dbo].[recibos] ([idrecibo], [idcliente], [idpaquete], [enganche], [mensualidad], [estatus], [fecha]) VALUES (3, 27, 2, CAST(8520.00 AS Numeric(8, 2)), CAST(6626.67 AS Numeric(8, 2)), 1, CAST(N'2021-04-27' AS Date))
GO
ALTER TABLE [dbo].[recibos]  WITH CHECK ADD  CONSTRAINT [FK__recibos__idclien__3A81B327] FOREIGN KEY([idcliente])
REFERENCES [dbo].[clientes] ([idcliente])
GO
ALTER TABLE [dbo].[recibos] CHECK CONSTRAINT [FK__recibos__idclien__3A81B327]
GO
ALTER TABLE [dbo].[recibos]  WITH CHECK ADD  CONSTRAINT [FK__recibos__idpaque__3B75D760] FOREIGN KEY([idpaquete])
REFERENCES [dbo].[paquetes] ([idpaquete])
GO
ALTER TABLE [dbo].[recibos] CHECK CONSTRAINT [FK__recibos__idpaque__3B75D760]
GO
/****** Object:  StoredProcedure [dbo].[fichasdepago]    Script Date: 27/04/2021 12:47:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[fichasdepago]
@idcliente tinyint,
@idpaquete tinyint,
@fecha datetime
as
begin
	select c.nombre as 'CLIENTE', c.domicilio,
	p.nombre as 'PAQUETE',p.descripcion,p.precio, 
	r.enganche, r.mensualidad, r.fecha 
	from recibos r
	join paquetes p on r.idpaquete = p.idpaquete
	join clientes c on r.idcliente = c.idcliente
	where r.idcliente = @idcliente and r.idpaquete = @idpaquete
end
GO
USE [master]
GO